<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="fun.hijklmn.model.mapper.DocumentMapper">
  <resultMap id="BaseResultMap" type="fun.hijklmn.model.pojo.Document">
    <id column="doc_id" jdbcType="VARCHAR" property="docId" />
    <result column="title" jdbcType="VARCHAR" property="title" />
    <result column="sub_title" jdbcType="VARCHAR" property="subTitle" />
    <result column="author" jdbcType="VARCHAR" property="author" />
    <result column="source" jdbcType="VARCHAR" property="source" />
    <result column="content" jdbcType="VARCHAR" property="content" />
    <result column="document_type" jdbcType="VARCHAR" property="documentType" />
    <result column="is_blog" jdbcType="TINYINT" property="isBlog" />
    <result column="online_time" jdbcType="TIMESTAMP" property="onlineTime" />
    <result column="favorite" jdbcType="INTEGER" property="favorite" />
    <result column="favorite_ip" jdbcType="VARCHAR" property="favoriteIp" />
    <result column="is_valid" jdbcType="INTEGER" property="isValid" />
    <result column="attribute1" jdbcType="VARCHAR" property="attribute1" />
    <result column="attribute2" jdbcType="VARCHAR" property="attribute2" />
    <result column="attribute3" jdbcType="VARCHAR" property="attribute3" />
    <result column="attribute4" jdbcType="VARCHAR" property="attribute4" />
    <result column="attribute5" jdbcType="VARCHAR" property="attribute5" />
    <result column="attribute6" jdbcType="VARCHAR" property="attribute6" />
  </resultMap>
  <sql id="Base_Column_List">
    doc_id, title, sub_title, author, source, content, document_type, is_blog, online_time, 
    favorite, favorite_ip, is_valid, attribute1, attribute2, attribute3, attribute4, 
    attribute5, attribute6
  </sql>
  
  <sql id="base_where">
  	<where>
	  <if test="title != null">
        and title = #{title,jdbcType=VARCHAR}
      </if>
      <if test="subTitle != null">
        and sub_title = #{subTitle,jdbcType=VARCHAR}
      </if>
      <if test="author != null">
        and author = #{author,jdbcType=VARCHAR}
      </if>
      <if test="source != null">
        and source = #{source,jdbcType=VARCHAR}
      </if>
      <if test="content != null">
        and content = #{content,jdbcType=VARCHAR}
      </if>
      <if test="documentType != null">
        and document_type = #{documentType,jdbcType=VARCHAR}
      </if>
      <if test="isBlog != null">
        and is_blog = #{isBlog,jdbcType=TINYINT}
      </if>
      <if test="onlineTime != null">
        and online_time = #{onlineTime,jdbcType=TIMESTAMP}
      </if>
      <if test="isValid != null">
        and is_valid = #{isValid,jdbcType=INTEGER}
      </if>
  	</where>
  </sql>
  
  <!-- 查询文档 -->
  <select id="listDocument" parameterType="fun.hijklmn.model.pojo.Document" resultMap="BaseResultMap">
  	select
  	<include refid="Base_Column_List" />
  	from document
  	<if test="_parameter != null">
  		<include refid="base_where"></include>
  	</if>
  	order by online_time desc
  </select>
  
  <!-- 查询文档分页 -->
  <select id="listDocumentPage" parameterType="fun.hijklmn.model.dto.DocumentQueryDTO" resultMap="BaseResultMap">
  	select
  	<include refid="Base_Column_List" />
  	from document
  	<if test="_parameter != null">
  		<include refid="base_where"></include>
  	</if>
  	<if test="sort != null">
  		order by ${sort}
  	</if>
  	<if test="index != null">
  		<if test="size != null">
  			limit #{index,jdbcType=INTEGER} , #{size,jdbcType=INTEGER}
  		</if>
  	</if>
  </select>
  
  <!-- 查询文档总数 -->
  <select id="listDocumentPageCount" parameterType="fun.hijklmn.model.dto.DocumentQueryDTO" resultType="java.lang.Integer">
  	select
  	count(1)
  	from document
  	<if test="_parameter != null">
  		<include refid="base_where"></include>
  	</if>
  </select>
  
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from document
    where doc_id = #{docId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from document
    where doc_id = #{docId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="fun.hijklmn.model.pojo.Document">
    insert into document (doc_id, title, sub_title, 
      author, source, content, 
      document_type, is_blog, online_time, 
      favorite, favorite_ip, is_valid, 
      attribute1, attribute2, attribute3, 
      attribute4, attribute5, attribute6
      )
    values (#{docId,jdbcType=VARCHAR}, #{title,jdbcType=VARCHAR}, #{subTitle,jdbcType=VARCHAR}, 
      #{author,jdbcType=VARCHAR}, #{source,jdbcType=VARCHAR}, #{content,jdbcType=VARCHAR}, 
      #{documentType,jdbcType=VARCHAR}, #{isBlog,jdbcType=TINYINT}, #{onlineTime,jdbcType=TIMESTAMP}, 
      #{favorite,jdbcType=INTEGER}, #{favoriteIp,jdbcType=VARCHAR}, #{isValid,jdbcType=INTEGER}, 
      #{attribute1,jdbcType=VARCHAR}, #{attribute2,jdbcType=VARCHAR}, #{attribute3,jdbcType=VARCHAR}, 
      #{attribute4,jdbcType=VARCHAR}, #{attribute5,jdbcType=VARCHAR}, #{attribute6,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="fun.hijklmn.model.pojo.Document">
    insert into document
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="docId != null">
        doc_id,
      </if>
      <if test="title != null">
        title,
      </if>
      <if test="subTitle != null">
        sub_title,
      </if>
      <if test="author != null">
        author,
      </if>
      <if test="source != null">
        source,
      </if>
      <if test="content != null">
        content,
      </if>
      <if test="documentType != null">
        document_type,
      </if>
      <if test="isBlog != null">
        is_blog,
      </if>
      <if test="onlineTime != null">
        online_time,
      </if>
      <if test="favorite != null">
        favorite,
      </if>
      <if test="favoriteIp != null">
        favorite_ip,
      </if>
      <if test="isValid != null">
        is_valid,
      </if>
      <if test="attribute1 != null">
        attribute1,
      </if>
      <if test="attribute2 != null">
        attribute2,
      </if>
      <if test="attribute3 != null">
        attribute3,
      </if>
      <if test="attribute4 != null">
        attribute4,
      </if>
      <if test="attribute5 != null">
        attribute5,
      </if>
      <if test="attribute6 != null">
        attribute6,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="docId != null">
        #{docId,jdbcType=VARCHAR},
      </if>
      <if test="title != null">
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="subTitle != null">
        #{subTitle,jdbcType=VARCHAR},
      </if>
      <if test="author != null">
        #{author,jdbcType=VARCHAR},
      </if>
      <if test="source != null">
        #{source,jdbcType=VARCHAR},
      </if>
      <if test="content != null">
        #{content,jdbcType=VARCHAR},
      </if>
      <if test="documentType != null">
        #{documentType,jdbcType=VARCHAR},
      </if>
      <if test="isBlog != null">
        #{isBlog,jdbcType=TINYINT},
      </if>
      <if test="onlineTime != null">
        #{onlineTime,jdbcType=TIMESTAMP},
      </if>
      <if test="favorite != null">
        #{favorite,jdbcType=INTEGER},
      </if>
      <if test="favoriteIp != null">
        #{favoriteIp,jdbcType=VARCHAR},
      </if>
      <if test="isValid != null">
        #{isValid,jdbcType=INTEGER},
      </if>
      <if test="attribute1 != null">
        #{attribute1,jdbcType=VARCHAR},
      </if>
      <if test="attribute2 != null">
        #{attribute2,jdbcType=VARCHAR},
      </if>
      <if test="attribute3 != null">
        #{attribute3,jdbcType=VARCHAR},
      </if>
      <if test="attribute4 != null">
        #{attribute4,jdbcType=VARCHAR},
      </if>
      <if test="attribute5 != null">
        #{attribute5,jdbcType=VARCHAR},
      </if>
      <if test="attribute6 != null">
        #{attribute6,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="fun.hijklmn.model.pojo.Document">
    update document
    <set>
      <if test="title != null">
        title = #{title,jdbcType=VARCHAR},
      </if>
      <if test="subTitle != null">
        sub_title = #{subTitle,jdbcType=VARCHAR},
      </if>
      <if test="author != null">
        author = #{author,jdbcType=VARCHAR},
      </if>
      <if test="source != null">
        source = #{source,jdbcType=VARCHAR},
      </if>
      <if test="content != null">
        content = #{content,jdbcType=VARCHAR},
      </if>
      <if test="documentType != null">
        document_type = #{documentType,jdbcType=VARCHAR},
      </if>
      <if test="isBlog != null">
        is_blog = #{isBlog,jdbcType=TINYINT},
      </if>
      <if test="onlineTime != null">
        online_time = #{onlineTime,jdbcType=TIMESTAMP},
      </if>
      <if test="favorite != null">
        favorite = #{favorite,jdbcType=INTEGER},
      </if>
      <if test="favoriteIp != null">
        favorite_ip = #{favoriteIp,jdbcType=VARCHAR},
      </if>
      <if test="isValid != null">
        is_valid = #{isValid,jdbcType=INTEGER},
      </if>
      <if test="attribute1 != null">
        attribute1 = #{attribute1,jdbcType=VARCHAR},
      </if>
      <if test="attribute2 != null">
        attribute2 = #{attribute2,jdbcType=VARCHAR},
      </if>
      <if test="attribute3 != null">
        attribute3 = #{attribute3,jdbcType=VARCHAR},
      </if>
      <if test="attribute4 != null">
        attribute4 = #{attribute4,jdbcType=VARCHAR},
      </if>
      <if test="attribute5 != null">
        attribute5 = #{attribute5,jdbcType=VARCHAR},
      </if>
      <if test="attribute6 != null">
        attribute6 = #{attribute6,jdbcType=VARCHAR},
      </if>
    </set>
    where doc_id = #{docId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="fun.hijklmn.model.pojo.Document">
    update document
    set title = #{title,jdbcType=VARCHAR},
      sub_title = #{subTitle,jdbcType=VARCHAR},
      author = #{author,jdbcType=VARCHAR},
      source = #{source,jdbcType=VARCHAR},
      content = #{content,jdbcType=VARCHAR},
      document_type = #{documentType,jdbcType=VARCHAR},
      is_blog = #{isBlog,jdbcType=TINYINT},
      online_time = #{onlineTime,jdbcType=TIMESTAMP},
      favorite = #{favorite,jdbcType=INTEGER},
      favorite_ip = #{favoriteIp,jdbcType=VARCHAR},
      is_valid = #{isValid,jdbcType=INTEGER},
      attribute1 = #{attribute1,jdbcType=VARCHAR},
      attribute2 = #{attribute2,jdbcType=VARCHAR},
      attribute3 = #{attribute3,jdbcType=VARCHAR},
      attribute4 = #{attribute4,jdbcType=VARCHAR},
      attribute5 = #{attribute5,jdbcType=VARCHAR},
      attribute6 = #{attribute6,jdbcType=VARCHAR}
    where doc_id = #{docId,jdbcType=VARCHAR}
  </update>
</mapper>